---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tinyauth
  namespace: security
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: tinyauth
  values:
    controllers:
      tinyauth:
        containers:
          app:
            image:
              repository: ghcr.io/steveiliop56/tinyauth
              tag: v5.0.0-alpha.1@sha256:9cf889b8dceb6ea85c69e1b42a6dc33ce1ca7b4aae1a3807ce3ddf6e494cca74
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            env:
              TINYAUTH_APPURL: https://auth.riki.boo
              TINYAUTH_SERVER_TRUSTEDPROXIES: 10.42.0.0/16
              TINYAUTH_RESOURCESDIR: /data/resources
              TINYAUTH_DATABASEPATH: /data/tinyauth.db

            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthz
                    port: 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            # resources:
            #   requests:
            #     cpu: 10m
            #     memory: 64Mi
            #   limits:
            #     memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames:
          - auth.riki.boo
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          tinyauth:
            app:
              - path: /data
                subPath: data