---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tinyauth
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: tinyauth
  values:
    controllers:
      tinyauth:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/steveiliop56/tinyauth
              tag: v5.0.0-alpha.5-distroless@sha256:3ac28bdf04804e18bc63f310d0a3f1fc443ae0242353640b156c3dfccf6be798
              # tag: v4.1.0@sha256:402ee231204757a3e01b4aaba9e4aa09a3c7c4680a82bc47135632ec8864b8c8
            env:
              TINYAUTH_APPURL: https://tinyauth.riki.boo
              TINYAUTH_DISABLEANALYTICS: true
              TINYAUTH_RESOURCESDIR: /data/resources
              TINYAUTH_DATABASEPATH: /data/tinyauth.db
              TINYAUTH_AUTH_TRUSTEDPROXIES: 10.42.0.0/16
              TINYAUTH_AUTH_SECURECOOKIE: true
              TINYAUTH_AUTH_SESSIONEXPIRY: 604800
            envFrom:
              - secretRef:
                  name: tinyauth-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthz
                    port: &port 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.riki.boo"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          tinyauth:
            app:
              - path: /data
                subPath: data
