---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: echo
  annotations:
    gatus.home-operations.com/endpoint: |-
      conditions: ["[STATUS] == 200"]
spec:
  hostnames:
    - echo.riki.boo
    - echo.brauni.eu
  parentRefs:
    - name: envoy-riki-boo-external
      namespace: network
      sectionName: https
    - name: envoy-brauni-eu-external
      namespace: network
      sectionName: https
  rules:
    - backendRefs:
        - name: echo
          port: 80
