---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 30m
  driftDetection:
    mode: enabled
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
  - name: snapshot-controller
    namespace: kube-system
  uninstall:
    keepHistory: false
  values:
    operatorNamespace: rook-ceph
    cephClusterSpec:
      external:
        enable: true
      crashCollector:
        disable: true
      healthCheck:
        daemonHealth:
          mon:
            disabled: false
            interval: 45s
    monitoring:
      enabled: true
      metricsDisabled: true
      createPrometheusRules: true
      externalMgrPrometheusPort: 9283 # IP doesn't need to be specified, operator will find it itself
      externalMgrEndpoints:
        - ip: 172.24.0.1
        - ip: 172.24.0.2
        - ip: 172.24.0.3
        #   externalMgrPrometheusPort: 9283
      # interval: 15s

    # -- Settings for the block pool snapshot class
    # @default -- See [RBD Snapshots](../Storage-Configuration/Ceph-CSI/ceph-csi-snapshot.md#rbd-snapshots)
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: true
      deletionPolicy: Delete
      # see https://rook.io/docs/rook/v1.10/Storage-Configuration/Ceph-CSI/ceph-csi-snapshot/#rbd-snapshots for available configuration
      parameters: # Only pool needs to be specified as snapshotter secret and clusterID are already pre-selected
        pool: kubeblock
    cephFileSystemVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-filesystem
      isDefault: false
      deletionPolicy: Delete
      # see https://rook.io/docs/rook/v1.10/Storage-Configuration/Ceph-CSI/ceph-csi-snapshot/#cephfs-snapshots for available configuration
      parameters:
        pool: kubefs_data
        fsName: kubefs
    # # -- A list of CephBlockPool configurations to deploy
    # # @default -- See [below](#ceph-block-pools)
    cephBlockPools: {}

    # # -- A list of CephFileSystem configurations to deploy
    # # @default -- See [below](#ceph-file-systems)
    cephFileSystems: {}

    # # -- A list of CephObjectStore configurations to deploy
    # # @default -- See [below](#ceph-object-stores)
    cephObjectStores: {}