---
apiVersion: v1
kind: Endpoints
metadata:
  name: rook-ceph-mgr-external
  namespace: rook-ceph
subsets:
  - addresses:
      - ip: 172.24.0.1
    ports:
      - name: http-external-metrics
        port: 9283
