---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: testing

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./volsync-test-rbd/ks.yaml
  - ./volsync-test-cephfs/ks.yaml
