---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: ceph-metrics-exporter
  labels:
    release: kube-prometheus-stack
spec:
  metricsPath: /metrics
  staticConfigs:
    - targets:
        - 172.24.0.1:9283
        - 172.24.0.2:9283
        - 172.24.0.3:9283
  relabelings:
    - action: replace
      targetLabel: job
      replacement: ceph-metrics-exporter