---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-access-token
  namespace: external-secrets
stringData:
  token: {{ bitwarden_access_token }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-riki-boo-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_RIKI_BOO_ID: {{ cloudflare_tunnel_riki_boo_id }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-480p-com-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_480P_COM_ID: {{ cloudflare_tunnel_480p_com_id }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-brauni-dev-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_BRAUNI_DEV_ID: {{ cloudflare_tunnel_brauni_dev_id }}
