---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tinyauth
spec:
  chartRef:
    kind: OCIRepository
    name: tinyauth
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      tinyauth:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/steveiliop56/tinyauth
              tag: v4.1.0@sha256:402ee231204757a3e01b4aaba9e4aa09a3c7c4680a82bc47135632ec8864b8c8
            env:
              TZ: Europe/Berlin
              APP_URL: https://auth.riki.boo
              DISABLE_ANALYTICS: true
              SECURE_COOKIE: true
              SESSION_EXPIRY: 604800
            envFrom:
              - secretRef:
                  name: tinyauth-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthz
                    port: &port 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        controller: tinyauth
        ports:
          http:
            port: *port
    route:
      riki-boo:
        hostnames:
          - auth.riki.boo
        parentRefs:
          - name: envoy-riki-boo-external
            namespace: network
            sectionName: https
      brauni-eu:
        hostnames:
          - auth.brauni.eu
        parentRefs:
          - name: envoy-brauni-eu-external
            namespace: network
            sectionName: https
