---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tinyauth
  namespace: flux-system
spec:
  path: ./kubernetes/apps/security/tinyauth/app
  interval: 1h
  timeout: 5m
  prune: true
  sourceRef:
    kind: OCIRepository
    name: flux-system
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: tinyauth
      namespace: security
