---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/volsync

resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml

# Configure the VolSync component
replacements:
  - source:
      kind: HelmRelease
      name: test-app
      fieldPath: metadata.name
    targets:
      - select:
          kind: ExternalSecret
        fieldPaths:
          - metadata.name
        options:
          delimiter: "-"
          index: 0
      - select:
          kind: PersistentVolumeClaim
        fieldPaths:
          - metadata.name
      - select:
          kind: ReplicationSource
        fieldPaths:
          - metadata.name
          - spec.sourcePVC
      - select:
          kind: ReplicationDestination
        fieldPaths:
          - metadata.name
        options:
          delimiter: "-"
          index: 0
      - select:
          kind: ReplicationDestination
        fieldPaths:
          - spec.sourceIdentity.sourceName

# Set VolSync configuration
patches:
  - patch: |-
      - op: replace
        path: /spec/kopia/repository
        value: test-app-volsync-secret
    target:
      kind: ReplicationSource
  - patch: |-
      - op: replace
        path: /spec/kopia/repository
        value: test-app-volsync-secret
    target:
      kind: ReplicationDestination
  - patch: |-
      - op: replace
        path: /spec/resources/requests/storage
        value: 2Gi
    target:
      kind: PersistentVolumeClaim
  - patch: |-
      - op: replace
        path: /spec/kopia/capacity
        value: 2Gi
    target:
      kind: ReplicationDestination
  - patch: |-
      - op: replace
        path: /spec/trigger/schedule
        value: "*/10 * * * *"
    target:
      kind: ReplicationSource
