---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cloudflare-dns
spec:
  chartRef:
    kind: OCIRepository
    name: cloudflare-dns
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    fullnameOverride: *app
    provider:
      name: cloudflare
    env:
      - name: &name CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: &secret cloudflare-dns-secret
            key: *name
      # - name: &name CF_ZONE_ID
      #   valueFrom:
      #     secretKeyRef:
      #       name: *secret
      #       key: *name
    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --cloudflare-proxied
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - "--annotation-filter=external-dns.custom/type in (public)"
      # - --gateway-name=kgateway-external
    triggerLoopOnEvent: true
    policy: sync
    sources:
      - crd
      # - gateway-httproute
    txtOwnerId: default
    txtPrefix: k8s.
    domainFilters:
      - riki.boo
      - brauni.eu
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
